page-home {
    ion-title{
        .logo{
            width:30px;
            float:right;
            height:30px;
        }
        
}
    ion-tabs{
        background: black;        
    }
    ion-content{
        background: rgb(161, 32, 32) !important;
        color:white !important;
    }

}
